
@mixin forwidth($heigth){
    width: 100%;
    height: $heigth;
}
@mixin forHeaderElement(){
    background-color: transparent;
    border: 2px solid white;
    font-weight: bold;
}
@mixin disPlay(){
    display: flex;
    align-items: center;
}
@mixin forSpan(){
    color: white;
    font-weight: bold; 
}
@mixin forHover(){
    background-color: red;
    transition: 1s;
    cursor: pointer;
}
@mixin perSection(){
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}